<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Markethon - Digital Marketing Agency Responsive HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Users/newAssets/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/css/bootstrap.min.css">
    <!-- Settings CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/revslider/css/settings.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Users/newAssets/css/responsive.css">
     @RenderSection("links", required:false)
  </head>
  <body>
    <!-- loading -->
    <div id="loading">
      <div id="loading-center">
        <img src="~/Users/newAssets/images/loader.gif" alt="loder">
      </div>
    </div>
    <!-- loading End -->
    <!-- Header -->
    <header id="main-header" class="header-one">
      <!-- menu start -->
      <nav id="menu-1" class="mega-menu" data-color="">
        <!-- menu list items container -->
        <div class="menu-list-items">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <!-- menu logo -->
                <ul class="menu-logo">
                  <li>
                    <a asp-action="index" asp-controller="home"><img src="~/Users/newAssets/images/logoDMS.svg"  style="transform:scale(2.1)" alt="DMS Azerbaijan Logo SVG" class="img-fluid"></a>
                  </li>
                </ul>
                <!-- menu search bar -->
                <ul class="menu-search-bar">
                  <li>
                    <form method="post" action="#">
                      <label>
                        <input name="menu_search_bar" placeholder="Search" type="search">
                        <i class="fas fa-search"></i>
                      </label>
                    </form>
                  </li>
                  <li class="menu-contact iq-fw-5"><a href="tel:0123456789" ><i class="fas fa-phone pr-1 "></i> +994 70 500 08 05</a></li>
                </ul>
                <!-- menu links -->
                <ul class="menu-links">
                  <!-- active class -->
                   <li><a  asp-action="index" asp-controller="home" class="active">Ana Səhifə</a></li>
                 <li><a asp-action="index" asp-controller="aboutUs" class="">Haqqımızda</a></li>

                  <li >
                    <a asp-action="index" asp-controller="services">Xidmətlər</a>
                    <!-- drop down multilevel  -->
                    <ul class="drop-down-multilevel">
                      <li class="active"><a asp-action="details" asp-controller="services" asp-route-id="1">Xidmət 1</a></li>
                      <li><a href="index-2.html">Xidmət 2 </a></li>
                      <li><a href="index-3.html">Xidmət 3 </a></li>
                                        <li><a href="index-4.html">Xidmət 4 </a></li>
                      <li><a href="#">Xidmət 5 <span class="badge badge-danger">Tezliklə</span></a></li>
                    </ul>
                  </li>
              
                   <li>

                   <a asp-action="index" asp-controller="portfolio" >Portfolio</a>
                   </li> 
                  
                  <li>
                    <a asp-action="index" asp-controller="blogs" >Blog</a>
                 
                  </li>
                  <li><a asp-action="index" asp-controller="Contact">Əlaqə</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- menu end -->
    </header>
    <!-- Header END -->
  <!-- Main Content -->
  <main>

   @RenderBody()


        
  </main>
    
    <!-- Main Content END -->
    <footer class="footer-one footer-bg  position-relative">
      <img src="~/Users/newAssets/images/footer/4.png" class="img-fluid fshap-after" alt="image">
      <div class="iq-subscribe pattern-left  container position-relative" id="iq-subscribe">
        <div class="pattern-right">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="title-box text-left ">
                <h2 class="title mb-3 text-white">Let's Discuss</h2>
                <p class="text-white iq-fw-4 mb-0">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <form class="position-relative subscribe-form mt-5 mt-lg-0">
                <div class="form-group mb-0">
                  <input type="email" class="form-control position-relative subscription-email  mb-0" placeholder="Enter Email">
                </div>
                <a class="slide-button button bt-subscribe subscription-button " href="javascript:void(0)">
                  <div class="first">Subscribe</div>
                  <div class="second">Subscribe</div>
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="contactinfo">
        <div class="container p-0">
          <div class="row ">
            <div class="col-lg-4 col-md-6">
              <div class="iq-footer-logo">
                <a href="index.html"><img src="~/Users/newAssets/images/footer/logo.png" class="img-fluid" alt="image"></a>
              </div>
              <div class="footer-copyright mb-4 iq-fw-5 mt-3">©Copyrights 2019 Markethon</div>
              <div>
                <div class="lang float-left">
                  <i class="fas fa-globe"></i>
                  <select name="languagelist"  class="iq-language iq-fw-4">
                    <option value="volvo">English</option>
                    <option value="saab">French</option>
                    <option value="opel">Persian</option>
                    <option value="audi">Arabic</option>
                  </select>
                </div>
                <div class="social-media d-inline-block float-left ml-4">
                  <ul class="social">
                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f iq-fw-6"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fab fa-twitter iq-fw-6"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin iq-fw-6"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="contact mt-4 d-inline-block">
                <a href="tel:0123456789"> <i class="fa fa-phone"></i><span class="iq-fw-5"> 0 123 456 789</span></a>
                <div class="email d-inline-block"><a href="Mail:mail@markethon.com"> mail@markethon.com</a></div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 footer-link">
              <h5 class="iq-fw-7 riq-mt-40">Links</h5>
              <ul class="list-inline rmb-40">
                <li class="list-item"><a href="index.html">Home</a></li>
                <li class="list-item"><a href="about-us.html">About us</a></li>
                <li class="list-item"><a href="faq.html">FAQ</a></li>
                <li class="list-item"><a href="service.html">Services</a></li>
                <li class="list-item"><a href="all-blog-grid.html">Blog</a></li>
                <li class="list-item"><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 footer-link">
              <h5 class="iq-fw-7 ">Information</h5>
              <ul class="list-inline">
                <li class="list-item"><a href="pricing.html">Pricing</a></li>
                <li class="list-item"><a href="client.html">Our Clients</a></li>
                <li class="list-item"><a href="portfolio.html">Portfolio</a></li>
                <li class="list-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                <li class="list-item"><a href="team.html">The Team</a></li>
                <li class="list-item"><a href="service.html">Our Benefits</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="testimonials">
                <div id="iqtestimonials" class="owl-carousel riq-mt-40" data-autoplay="true" data-loop="true" data-nav="false" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="15">
                  <div class="item">
                    <div class="desc">
                      <p class="mb-0">Progravida <span class="text-black iq-fw-7">#nibh vel velit auctor</span> alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum. <a href="javascript:void(0)#" class="text-black iq-fw-7">https://iqonicthemes.com</a></p>
                    </div>
                    <div class="author">
                      <div class="float-left d-flex mr-3">
                        <i class="fab fa-twitter text-white"></i>
                      </div>
                      <div class=" float-left ">
                        <div class="overview">
                          <a>
                            <h6 class="name text-black mb-0">iqonicthemes</h6>
                          </a>
                          <div class="details">2 Months Ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="desc">
                      <p class="mb-0">Progravida <span class="text-black iq-fw-7">#nibh vel velit auctor</span> alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum. <a href="javascript:void(0)" class="text-black iq-fw-7">https://iqonicthemes.com</a></p>
                    </div>
                    <div class="author">
                      <div class="float-left d-flex mr-3">
                        <i class="fab fa-twitter text-white"></i>
                      </div>
                      <div class=" float-left ">
                        <div class="overview">
                          <h6 class="name text-black mb-0">iqonicthemes</h6>
                          <div class="details">2 Months Ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="desc">
                      <p class="mb-0">Progravida <span class="text-black iq-fw-7">#nibh vel velit auctor</span> alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum. <a href="javascript:void(0)" class="text-black iq-fw-7">https://iqonicthemes.com</a></p>
                    </div>
                    <div class="author">
                      <div class="float-left d-flex mr-3">
                        <i class="fab fa-twitter text-white"></i>
                      </div>
                      <div class=" float-left ">
                        <div class="overview">
                          <h6 class="name text-black mb-0">iqonicthemes</h6>
                          <div class="details">2 Months Ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- back-to-top -->
      <div id="back-to-top">
        <a class="top" id="top" href="#top"><i class="ion-ios-arrow-thin-up"></i></a>
      </div>
      <!-- back-to-top End -->
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Users/newAssets/js/jquery-min.js" ></script>
    <!-- popper  -->
    <script src="~/Users/newAssets/js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="~/Users/newAssets/js/bootstrap.min.js" ></script>
    <!-- Modernizr JavaScript -->
    <script src="~/Users/newAssets/js/modernizr.js"></script>
    <!-- Appear JavaScript -->
    <script src="~/Users/newAssets/js/appear.min.js"></script>
    <!-- Megamenu  -->
    <script src="~/Users/newAssets/js/mega_menu.min.js"></script>
    <!-- Timeline JavaScript -->
    <script src="~/Users/newAssets/js/timeline.js"></script>
    <!-- Wow -->
    <script src="~/Users/newAssets/js/wow.min.js"></script>
    <!-- scrollme -->
    <script src="~/Users/newAssets/js/jquery.scrollme.min.js"></script>
    <!-- countdown JavaScript -->
    <script src="~/Users/newAssets/js/countdown.js"></script>
    <!-- waypoints JavaScript -->
    <script src="~/Users/newAssets/js/waypoints.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="~/Users/newAssets/js/jquery.counterup.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="~/Users/newAssets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="~/Users/newAssets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope JavaScript -->
    <script src="~/Users/newAssets/js/isotope.pkgd.min.js"></script>
    <!-- Progressbar JavaScript -->
    <script src="~/Users/newAssets/js/circle-progress.min.js"></script>
    <!-- Canvas JavaScript -->
    <script src="~/Users/newAssets/js/canvasjs.min.js"></script>
    <!-- REVOLUTION JS FILES -->
    <script src="~/Users/newAssets/revslider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Users/newAssets/revslider/js/extensions/revolution.extension.video.min.js"></script>
    <!-- Retina JavaScript -->
    <script src="~/Users/newAssets/js/retina.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/Users/newAssets/js/custom.js"></script>
    <script>
    var tpj=jQuery;

    var revapi3;
    tpj(document).ready(function() {
    if(tpj("#rev_slider_3_1").revolution == undefined){
    revslider_showDoubleJqueryError("#rev_slider_3_1");
    }else{
    revapi3 = tpj("#rev_slider_3_1").show().revolution({
    sliderType:"standard",
    jsFileLocation:"//localhost/revslider-standalone/revslider-standalone/revslider/public/revslider/assets/js/",
    sliderLayout:"fullwidth",
    dottedOverlay:"none",
    delay:9000,
    navigation: {
    onHoverStop:"off",
    },
    visibilityLevels:[1240,1024,778,480],
    gridwidth:1366,
    gridheight:790,
    lazyType:"none",
    parallax: {
    type:"mouse",
    origo:"enterpoint",
    speed:400,
    levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
    type:"mouse",
    disable_onmobile:"on"
    },
    shadow:0,
    spinner:"spinner0",
    stopLoop:"off",
    stopAfterLoops:-1,
    stopAtSlide:-1,
    shuffle:"off",
    autoHeight:"off",
    disableProgressBar:"on",
    hideThumbsOnMobile:"off",
    hideSliderAtLimit:0,
    hideCaptionAtLimit:0,
    hideAllCaptionAtLilmit:0,
    debugMode:false,
    fallbacks: {
    simplifyAll:"off",
    nextSlideOnWindowFocus:"off",
    disableFocusListener:false,
    }
    });
    }
    }); /*ready*/
    </script>
    @RenderSection("Scripts", false)
  </body>
</html>  