@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">Blog</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog Details Right Sidebar</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-5">
                    <img src="~/Users/newAssets/images/breadcrumb/blog.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="~/Users/newAssets/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->
<!-- Main Content -->
<div class="main-content">
    <section class="iq-blogs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 order-lg-2 order-2">
                    <div class="right-side-blog">
                        <div class="iq-sidebar-widget">
                            <div class="iq-widget-search position-relative">
                                <a href="javascript:void(0)"> <i class="fa fa-search"></i></a>
                                <input type="search" placeholder="Search" class="form-control placeholder">
                            </div>
                        </div>
                        
                        <div class="iq-mt-80">
                            <h5 class="iq-widget-title iq-fw-8 mb-4">Recent Posts</h5>
                            <div class="media mb-3">
                                <img class="mr-3" src="~/Users/newAssets/images/blog/blog-detail/01.jpg" alt="image">
                                <div class="media-body">
                                    <a href="javascript:void(0)">
                                        <h6 class="mt-0 iq-fw-8">Fully dedicated finding.</h6>
                                    </a>
                                    February 2019
                                </div>
                            </div>
                            <div class="media mb-3">
                                <img class="mr-3" src="~/Users/newAssets/images/blog/blog-detail/02.jpg" alt="image">
                                <div class="media-body">
                                    <a href="javascript:void(0)">
                                        <h6 class="mt-0 iq-fw-8">Progravida nibh vel.</h6>
                                    </a>
                                    February 2019
                                </div>
                            </div>
                            <div class="media mb-3">
                                <img class="mr-3" src="~/Users/newAssets/images/blog/blog-detail/03.jpg" alt="image">
                                <div class="media-body">
                                    <a href="javascript:void(0)">
                                        <h6 class="mt-0 iq-fw-8">Auctor alinean</h6>
                                    </a>
                                    February 2019
                                </div>
                            </div>
                            <div class="media mb-3">
                                <img class="mr-3" src="~/Users/newAssets/images/blog/blog-detail/04.jpg" alt="image">
                                <div class="media-body">
                                    <a href="javascript:void(0)">
                                        <h6 class="mt-0 iq-fw-8">Alinean sollicitudin.</h6>
                                    </a>
                                    February 2019
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="col-lg-8 order-lg-1 order-2 iq-rmt-40">
                    <div class="blog-img">
                        <img src="~/Users/newAssets/images/blog/01.jpg" class="img-fluid mb-4" alt="image">
                        <ul class="d-inline-block">
                            <li class="d-inline-block"><a href="javascript:void(0)" class="mr-3"><i class="far fa-calendar-alt"></i> 01 January 2019</a></li>
                            <li class="d-inline-block">|<a href="javascript:void(0)"><span class="ml-3">Creative</span> </a></li>
                        </ul>
                        <h3 class="title iq-fw-8 mt-3">Fully dedicated finding</h3>
                        <p class="mb-3">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor. Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor. Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor. Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor. Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                        <p class="mb-4">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                       
                       
                     
                        
                  
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>