@using DMS.az.Models
@model List<Service>

<div class="row">
    @foreach (var service in Model)
    {
        <div class="col-lg-6">
            <article class="services purple ">
                <div class="services-info">
                    <header class="service-shap purple">
                        @*@<i class="ion-ios-cloud-download-outline"></i>*@
                        <img src="~/Users/Uploads/Services/@service.Icon " alt="DMS Azerbaijan Service= @service.Name ">
                    </header>
                    <h2 class="float-left mt-4 h3 text-black">@service.Name</h2>
                    <div class="clearfix"></div>
                    <p class="mt-3 mb-0">@service.ShortDesc</p>

                </div>
                <a asp-controller="services" asp-action="details" asp-route-id="@service.Id" class="button-info">Daha Çox <span class="float-right">. . .</span></a>
            </article>
        </div>
    }
</div>