@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Breadcrumb -->
<section class="iq-breadcrumb">

    <div class="iq-breadcrumb-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12  col-md-7 align-self-center">
                    <h2 class="iq-fw-8 mb-3">Portfolio Detail</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Portfolio Detail</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-5">
                    <img src="~/Users/newAssets/images/breadcrumb/Portfolio.png" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="iq-breadcrumb-img">
        <img src="~/Users/newAssets/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
    </div>
</section>
<!-- Breadcrumb END -->
<!-- Main Content -->
<div class="main-content">

    <!-- Portfolio Detail -->
    <section class="iq-portfolio-detalis pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="portfolio-img">
                        <img src="~/Users/newAssets/images/blog/01.jpg" class="img-fluid mb-5" alt="image">
                    </div>
                </div>

            </div>
            <div class="row ">

                <div class="col-lg-3 col-md-4">
                    <div class="section-title mb-3">
                        <h3 class="title  mb-0">01 January 2019</h3>
                    </div>

                    <div class="portfolio-info">
                        <div class="media mb-3">
                            <div class="mr-3"><i class="contact-icon fa fa-check-circle text-green"></i></div>

                            <div class="media-body">
                                <h6 class="mt-0 text-uppercase iq-fw-8">Name:</h6>
                                <p>John Deo</p>
                            </div>
                        </div>
                        <div class="media  mb-3">
                            <div class="mr-3"><i class="contact-icon fa fa-check-circle text-green"></i></div>
                            <div class="media-body">
                                <h6 class="mt-0 text-uppercase iq-fw-8">Date Of Birth:</h6>
                                <p>01 January 1990</p>
                            </div>
                        </div>
                        <div class="media  mb-3">
                            <div class="mr-3"><i class="contact-icon fa fa-check-circle text-green"></i></div>
                            <div class="media-body">
                                <h6 class="mt-0 text-uppercase iq-fw-8">City:</h6>
                                <p>California, USA</p>
                            </div>
                        </div>
                        <div class="social-media ">
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter "></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="section-title mb-2">
                        <h2 class="title mb-0">Design Concept</h2>
                    </div>
                    <p>Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                    <p>Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                    <a class="slide-button button mt-3 " href="">
                        <div class="first">Explore All</div>
                        <div class="second">Explore All</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="iq-recentwork">
            <div class="container">
                <div class="row ">
                    <div class="col-sm-12 text-center">
                        <div class="section-title">
                            <p class="mt-2 text-uppercase iq-fw-3 iq-ls-3">Latest Articles</p>
                            <h3 class="title iq-fw-8">Recent Work</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                            <div class="item">

                                <div class="iq-portfolio">
                                    <img src="~/Users/newAssets/images/project/1.png" class="img-fluid" alt="image">
                                    <div class="portfolio-info">
                                        <a href=""><span class="text-black">Design Concept</span></a>
                                        <a href="#" class="text-uppercase text-gray float-right">Design</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">

                                <div class="iq-portfolio">
                                    <img src="~/Users/newAssets/images/project/2.png" class="img-fluid" alt="image">
                                    <div class="portfolio-info">
                                        <a href=""><span class="text-black">Design Concept</span></a>
                                        <a href="#" class="text-uppercase text-gray float-right">Design</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">

                                <div class="iq-portfolio">
                                    <img src="~/Users/newAssets/images/project/3.png" class="img-fluid" alt="image">
                                    <div class="portfolio-info">
                                        <a href=""><span class="text-black">Design Concept</span></a>
                                        <a href="#" class="text-uppercase text-gray float-right">Design</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">

                                <div class="iq-portfolio">
                                    <img src="~/Users/newAssets/images/project/4.png" class="img-fluid" alt="image">
                                    <div class="portfolio-info">
                                        <a href=""><span class="text-black">Design Concept</span></a>
                                        <a href="#" class="text-uppercase text-gray float-right">Design</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">

                                <div class="iq-portfolio">
                                    <img src="~/Users/newAssets/images/project/1.png" class="img-fluid" alt="image">
                                    <div class="portfolio-info">
                                        <a href=""><span class="text-black">Design Concept</span></a>
                                        <a href="#" class="text-uppercase text-gray float-right">Design</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">

                                <div class="iq-portfolio">
                                    <img src="~/Users/newAssets/images/project/2.png" class="img-fluid" alt="image">
                                    <div class="portfolio-info">
                                        <a href=""><span class="text-black">Design Concept</span></a>
                                        <a href="#" class="text-uppercase text-gray float-right">Design</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">

                                <div class="iq-portfolio">
                                    <img src="~/Users/newAssets/images/project/3.png" class="img-fluid" alt="image">
                                    <div class="portfolio-info">
                                        <a href=""><span class="text-black">Design Concept</span></a>
                                        <a href="#" class="text-uppercase text-gray float-right">Design</a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">

                                <div class="iq-portfolio">
                                    <img src="~/Users/newAssets/images/project/4.png" class="img-fluid" alt="image">
                                    <div class="portfolio-info">
                                        <a href=""><span class="text-black">Design Concept</span></a>
                                        <a href="#" class="text-uppercase text-gray float-right">Design</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Detail END -->





</div>